<div class="container">
    <div class="row">
      <hr />
      <div class="create-container col-md-12">
        <form class="form" [formGroup]="createLoanForm" (ngSubmit)="createLoan()">
          <div class="form-group">
            <div class="create-heading">Create Application</div>
            <hr />
            <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
              placeholder="name">
            <input type="text" class="form-control" [formControlName]="'personalId'" style="margin-top: 5px" placeholder="Personal ID">
            <input type="text" class="form-control" [formControlName]="'surname'" style="margin-top: 5px" placeholder="surname">
            <input type="text" class="form-control" [formControlName]="'employer'" style="margin-top: 5px" placeholder="employer">
            <input type="number" step="any" class="form-control" [formControlName]="'salary'" style="margin-top: 5px" placeholder="salary">
            <input type="date" class="form-control" [formControlName]="'date'" style="margin-top: 5px" id="birthday" name="birthday">
            <input type="number" step="any" class="form-control" [formControlName]="'liability'" style="margin-top: 5px" placeholder="liability">
            <input type="number" step="any" class="form-control" [formControlName]="'amount'" style="margin-top: 5px" placeholder="amount">
            <select class="form-control"[formControlName]="'term'" style="margin-top: 5px">
              <option value="months">months</option>
              <option value="days">days</option>
            </select>
            <span>
              <div style="margin-top: 5px" class="float-right">
                <button>Create</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>