<div class="container">
  <div>
    <button  style="background-color: #f2f3f2;border: none; margin: 3px;" (click)="addLoanApplication()">create new loan application</button>

    <div *ngFor="let loan of loans">
      <div class="comment">

        <mat-card style="background-color: rgb(203, 238, 255); margin: 2px;">   
          <button (click)="deleteLoanApplication(loan.id)" class="btn"><i class="fa fa-trash"></i></button>
 
          <p>first name: {{loan.firstName}}</p>
          <p>last name: {{loan.lastName}}</p>
          <p>birth date: {{getDate(loan.birthDate)}}</p>
          <p>salary: {{loan.salary}}</p>
          <p>employer: {{loan.employer}}</p>
          <p>monthly liability: {{loan.monthlyLiability}}</p>
          <p>requested amount: {{loan.requestedAmount}}</p>
          <p>calculated score: {{loan.score}}</p>
          <p>loan status: {{loan.status}}</p>
          
          <div *ngIf="loan.status==='Manual'">
            <button style="background-color: #b0f8b2; border: none; margin: 3px;" (click)="approveLoanApplication(loan.id)">approve loan</button>  
            <button style="background-color: #f87d74; border: none; margin: 3px;" (click)="rejectApplication(loan.id)">reject loan</button> 
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
