.btn {
    background-color: rgb(252, 80, 80);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(236, 34, 34);
  }
